[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
	# Fixed at commit: 535d80badefc83c5c527ec5748f2a20d6a9310fe
[submodule "external/Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "external/SDL_image"]
	path = external/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	# Fixed at tag: release-3.2.0 (requires SDL 3.2.0)
